<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments::head}">
    <title id="titlePage">Home</title>
    <script id="personalScript">
    </script>
</head>

<body>
    <header th:replace="~{fragments::header}"></header>

    <section class="container">
        <div class="row">
            <h1 class="col-12 text-center my-4">BEM-VINDO(A) AO SISTEMA DE MOEDAS ESTUDANTIL</h1>
            <p class="mt-3">O Sistema de Moedas Estudantil permite aos professores das instituições cadastradas
                distribuir moedas aos seus alunos como forma de reconhecimento pelo seu trabalho academico. E, com essas
                moedas os alunos podem trocar por vantagens cadastradas pelas empresas.
            <p class="mt-3">Os alunos podem se cadastrar selecionando sua instuição de ensino dentre as nossas parceiras
                e preenchendo com seus dados pessoais.</p>
            <p class="mt-3">As Empresas pode se cadastrar e adicionar as vantagens que desejarem</p>
            </p>
        </div>
    </section>
</body>

</html>